@import 'global.scss';
@import 'variables';

//! Header
.head {
	height: 20rem;
	padding: 2rem;
	background-color: var(--red-40);
	width: 100%;

	h3 {
		color: var(--gray-10);
		margin-top: 0;
	}
}

//*
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

//* Container
.form__container {
	background-color: var(--gray-10);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	position: relative;
	top: -62px;

	.form__head {
		border-bottom: 0.1rem solid var(--red-40);
		height: 4.5rem;
		padding: 1rem;
		width: 20rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// [] Styles Form
	.form__body {
		padding: 3rem;

		> p {
			color: var(--gray-30);
			border-bottom: 0.2rem solid var(--gray-30);
			width: 100%;
			text-align: center;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 1rem;
			text-transform: uppercase;
			height: 4.5rem;
			line-height: 4.5rem;
		}

		.form__title {
			margin: 0;
			text-align: center;
		}

		.required__field {
			color: var(--red-40);
			margin-right: 0.7rem;
		}

		.container__input {
			margin-bottom: 3rem;
		}

		.input__box {
			display: inline-block;
		}

		.container__input_optional {
			display: inline-block;
			margin-bottom: 3rem;
			margin-right: 3rem;

			.optional__list {
				list-style: none;
				padding-left: 0;
			}
		}

		.button__submit {
			background-color: var(--red-40);
			color: var(--gray-10);
			border: 0.2rem solid transparent;
			width: 15rem;
			height: 5rem;
			text-transform: uppercase;
			cursor: pointer;

			transition: 0.5s;

			&:hover {
				background-color: var(--gray-10);
				border-color: var(--red-40);
				color: var(--red-40);
			}
		}
	}
}
